.element__heart {
    background-image: url(../../../icons/Vector.svg);
    border: 0;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 22px;
    width: 22px;
    height: 19px;
    margin: 7px 0px 0px;
}

.element__heart:hover {
    opacity: 0.5;
}