.popup__button-save_disabled {
    box-sizing: border-box;
    position: absolute;
    width: 358px;
    height: 50.15px;
    border: 1px solid rgba(196, 196, 196, 1);
    background-color: #fff;
    color: #C4C4C4;
    border-radius: 2px;
}