.profile__info {
    width: 336px;
    min-height: 73px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 530px) {
    .profile__info {
        margin: 20px 0 0;
    }
}

@media screen and (max-width: 420px) {
    .profile__info {
        width: 290px;
    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        width: 282px;
        margin: 25px 0 0;
        justify-content: center;
    }
}